<div class="container">
    <h1>{{ title }}</h1>
    <form (ngSubmit)="save(user)">
      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input type="text" [(ngModel)]="user.login" name="login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="text" [(ngModel)]="user.senha" name="senha"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Enviar</button>
    </form>
    <hr />
    <button ion-button (click)="goBack()" block>Voltar</button>
</div>
